.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}
.links a {
    transition: 300ms;
    transform-origin: center;
}
.links a:hover {
    scale: 1.05;
}