* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --blue: rgba(224, 255, 255, 1);
    --yellow: rgba(255, 255, 224, 1);
    --red: rgb(246, 230, 250);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    background: linear-gradient(
        var(--blue) 0%, var(--blue) 20%,
        var(--yellow) 30%, var(--yellow) 40%,
        var(--red) 60%, var(--red) 70%,
        var(--blue) 80%, var(--blue) 100%);
}

.cyan {
    background-color: var(--blue);
}

.yellow {
    background-color: var(--yellow);
}

.coral {
    background-color: var(--red);
}

.arrow {
    position: absolute;
    top: 100vh;
    left: 50%;
    transform: translate(-50%, -150%);

    cursor: pointer;
    /*border: 0.5px solid black;*/
    border-radius: 15px;
    background-color: white;
    font-size: 1.5em;
    padding: 0.5em;
    opacity: 0.5;

    box-shadow: 0 5px 15px 0 #636363;
    transition: 0.5s;
}
.arrow:hover {
    opacity: 1;
    box-shadow: 0px 8px 15px 0px #636363;
}